.profile {
    font-family:'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5 {
    font-weight: bolder;
}
.links {
    display: flex;
    flex-direction: column;
   
}
.logos {
    width: 50px;
}
.warName {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.profilePicture{
    width: 300px;
    margin-bottom: 20px;
}
.profile p {
    margin-top: 40px;
    font-size: 1.3em;
}